.nftBridge {
  .header {
    text-align: center;
    h1 {
      font-size: 40px;
      color: #FCFCFD;
      letter-spacing: -0.4px;
      line-height: 48px;
    }
    .subtitle {
      font-size: 12px;
      color: #777E90;
      line-height: 12px;
    }
  }
}