.cardNftLoan {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: 0.3s;
  cursor: pointer;
  a {
    width: 100%;
    max-width: 340px;
    height: 100%;
    max-height: 550px;
    display: inline-block;
    background-color: #0f0e0e;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    .chain {
      width: fit-content;
      height: fit-content;
      padding: 0 10px;
      background-color: rgba(255, 192, 122, 0.2);
      color: #DE710B;
      font-weight: 600;
      font-size: 14px;
      border-radius: 8px;
    }
    .actions {
      display: flex;
      width: 100%;
      margin-top: 10px;
      > button {
        flex: 1;
        font-size: 16px;
        font-weight: 600;
        height: 45px;
        line-height: 25px;
        border-radius: 4px;
      }
      > button:not(:first-child) {
        margin-left: 10px;
      }
      .btnCancel {
        background: transparent;
        border: 1px solid #e34d4d;
        color: #e34d4d;
        font-weight: normal;
      }
    }
  }
  .whitelistTag {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background-image: linear-gradient(242deg, #246cf9 0%, #9a1ef6 0%, #3400d0 100%);
  }
}
