.connectButton {
  height: 40px;
  background: #272727;
  border: 2px solid #2E3136;
  color: #fcfcfd;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 20px;
  box-shadow: none;
  &::after {
    display: none;
  }
}

.button {
  width: 100%;
  justify-content: center;
}
.modalContainer {
  z-index: 999999;
}

.wrapper {
  .dropdownMenu {
    background-color: #252836;
    > a:hover {
      background-color: #1f202f;
    }
    > a > button {
      padding: 0;
      height: unset;
      line-height: unset;
    }
    .item {
      font-size: 14px;
      color: white;
      padding: 5px 0;
    }
  }
}