.bodyContainer {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  background-color: black;
  > div {
    max-width: 1280px;
    margin: 0 auto;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
  }
}
