.wrapper {
  background-image: linear-gradient(180deg, #1f1f1f 0%, #131518 100%);
  min-height: unset;
  padding: 80px 0;
  h2 {
    font-family: DMSans;
    font-weight: bold;
    font-size: 40px;
    color: #fcfcfd;
    line-height: 48px;
    margin-bottom: 50px;
  }
  .list {
    display: flex;
    .item {
      flex: 1;
      min-width: 300px;
      &:not(:first-child) {
        margin-left: 30px;
      }
      a {
        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
          border-radius: 8px;
        }
        .category {
          font-size: 9px;
          font-weight: 500;
          color: #466bd7;
          letter-spacing: 1.8px;
          line-height: 24px;
          text-transform: uppercase;
          margin-top: 25px;
        }
        .title {
          font-size: 17px;
          font-weight: 600;
          color: #fcfcfd;
          line-height: 25px;
          margin-top: 20px;
          margin-bottom: 15px;
        }
        .author {
          display: flex;
          align-items: center;
          font-size: 14px;
          font-weight: 500;
          color: #848688;
          line-height: 24px;
          > img {
            width: 24px;
            height: 24px;
            border-radius: 24px;
            object-fit: cover;
            margin-right: 15px;
          }
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
