@import "./_font.scss";

* {
  box-sizing: border-box;
  ::-webkit-scrollbar {
    display:none;
  }
}

body {
  color: #fcfcfd;
  margin: 0;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

:root {
  --header-height: 66px;
  --footer-height: 85px;
  --max-height-content-desktop: 1440px;
}

:global {
  .no-scroll-bar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .grecaptcha-badge {
    display: none !important;
  }
}