.wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  > div {
    > div {
      padding: 0px;
    }
  }
  &.loading {
    justify-content: center;
    padding: 40px 0;
  }
  .list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 2.5rem 2rem;
    padding: 20px;
  }
  .pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
    > ul {
      border: none;
      > li {
        a {
          width: 40px;
          height: 40px;
          text-align: center;
          color: #fcfcfd;
          background: transparent;
          border-radius: 40px !important;
        }
        &.active {
          a {
            background-color: #fcfcfd;
            color: black;
          }
        }
      }
    }
  }
}

.noAssets {
  text-align: center;
  color: white;
  margin: 40px 0;
  .createButton {
    width: 200px;
    height: 50px;
    margin-top: 40px;
    background-color: #3772ff;
    color: #fcfcfd;
    font-weight: bold;
  }
}
.listAssetsMobile {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  > div {
    > div {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0.5rem;
      > div {
        width: calc(50vw - 1rem);
        > a {
          > div {
            &:first-child {
              height: calc(50vw - 1rem);
            }
            &:last-child {
              padding: 10px;
            }
          }
        }
      }
    }
  }
}