.wrapper {
  min-height: calc(100vh - 66px);
  background-color: black;
  > div {
    max-width: 100%;
  }
  &.mobileWrapper {
    padding-top: var(--height-header);
  }
}

.mobileWrapper {
  .sectionBG {
    max-height: 500px;
    h2 {
      font-size: 25px;
      color: #ffffff;
      letter-spacing: 0;
      text-align: center;
      line-height: 29px;
      font-weight: bold;
      margin-top: 30px;
    }
    .imgLogo {
      max-width: 80%;
    }
  }
  .section {
    .wrapPartner {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0.5rem;
      div {
        img {
          width: 45vw;
          height: auto;
        }
      }
    }
    p {
      max-width: 80%;
    }
    .groupButton {
      max-width: 100%;
    }
  }
  .sectionBgOurPartner {
    background-image: url("./assets/bgOurPartnerVertical.png");
  }
  .sectionBgJoin {
    background-image: url("./assets/mobile_bg_commutica.png");
    width: calc(100vw - 40px);
    height: calc(calc(100vw - 40px) * calc(526 / 337));
    padding: 0px;
    position: relative;
    .sectionBgJoinTop {
      padding: 60px 10px 20px;
      h2 {
        font-size: 25px;
        line-height: 35px;
        text-align: center;
      }
      p {
        color: #fff;
        font-family: "Poppins";
        font-size: 16px;
        line-height: 24px;
        margin: 10px 0 40px;
        text-align: center;
        max-width: 100%;
      }
      .groupButton {
        a {
          height: 45px;
        }
      }
    }
    .joinCommunicateBG {
      width: 100%;
      object-fit: cover;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      border-top-right-radius: 0;
      flex: 1;
      -webkit-mask-image: linear-gradient(
        0deg,
        #00436a 40%,
        rgba(36, 38, 47, 0)
      );
    }
    .joinCommunicateLogo {
      bottom: -70px;
      display: block;
      position: absolute;
      right: 0;
      width: 250px;
    }
  }
}

.sectionBG {
  background-image: url("./assets/1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  height: 600px;
  margin: 0 auto;
  max-width: 1366px;
  h2 {
    font-size: 25px;
    color: #ffffff;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    font-weight: bold;
    margin-top: 50px;
  }
  .groupButton {
    display: flex;
    button {
      margin: 10px;
      border-radius: 100px;
      font-size: 16px;
      color: #ffffff;
      letter-spacing: 0;
      text-align: center;
      line-height: 29px;
      height: 55px;
      width: 200px;
      background-color: transparent;
      border: none;
      background-size: 100%;
      background-position: 0% 0%;
      span {
        font-size: 16px;
        color: #ffffff;
        letter-spacing: 0;
        text-align: center;
        line-height: 29px;
      }
      &:first-child {
        background-image: linear-gradient(
          242deg,
          #246cf9 0%,
          #9a1ef6 0%,
          #3400d0 100%
        );
      }
      &:last-child {
        background-image: linear-gradient(242deg, #0012ff 0%, #006ed0 100%);
      }
    }
  }
}

.section {
  min-height: 300px;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 32px;
    color: #f3f4f8;
    letter-spacing: 0;
    text-align: center;
    line-height: 44px;
    max-width: 400px;
  }
  p {
    max-width: 500px;
    opacity: 0.59;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 0;
    text-align: center;
    line-height: 19px;
  }
  .bgHowItWork {
    margin-top: 20px;
    max-width: calc(1366px - 200px);
    img {
      max-width: 100%;
    }
  }
  .bgWhatNFTy {
    background-image: url("./assets/bg_oval.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 20px;
    max-width: calc(1366px - 200px);
    img {
      max-width: 100%;
    }
  }
  .wrapPartner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-top: 2rem;
  }
}

.sectionHIW {
  background-image: linear-gradient(
    180deg,
    rgba(37, 40, 54, 0) 0%,
    #0e0f14 100%
  );
}

.sectionBgOurPartner {
  background-image: url("./assets/bgOurPartner.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 593px;
  width: 1078px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 6rem;
}

.imgTitle {
  max-width: 80px;
}

.sectionBgJoin {
  background-image: url("./assets/bgJoin.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 293px;
  width: 1111px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 4rem;
  .sectionBgJoinTop {
    flex: 1;
  }
  p,
  h1 {
    text-align: left;
  }
  .groupButton {
    display: flex;
    a {
      margin-right: 10px;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      &:first-child {
        background-image: linear-gradient(139deg, #009767 0%, #0344e6 100%);
        border-radius: 8px;
        letter-spacing: 0;
        text-align: center;
        height: 55px;
        width: 200px;
        font-size: 14px;
        color: #fcfcfd;
        line-height: 19px;
        font-weight: bold;
        img {
          margin-right: 3px;
          padding: 0px;
        }
      }
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        width: 55px;
        height: 55px;
        background-color: transparent;
        padding: 0px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
