.confirmAmount {
  padding: 20px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Poppins';
  }

  .amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    span {
      font-size: 14px;
    }
  }

  .note {
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
  }

  .actions {
    display: flex;
    button {
      flex: 1;
      font-weight: bold;
      text-align: center;
      border-radius: 90px;
      height: 50px;
    }
  }

  .btnConnect {
    color: #fcfcfd;
    background: #3772ff;
    border: 1px solid #3772ff;
    margin-left: 10px;
  }
}
