.confirmAmount {
  padding: 20px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    span {
      font-size: 14px;
    }
  }

  .note {
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
  }
}
