.wrapper {
  background: #1a1a1a;
  padding: 80px 0;  
  .subtitle {
    font-size: 15px;
    color: #777E90;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    margin-top: 30px;
    margin-bottom: 100px;
  }
}

.stats {
  display: flex;
  background-image: linear-gradient(180deg, #282828 0%, #232323 100%);
  border-radius: 16px;
  min-width: 375px;
  > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    font-weight: 500;
    color: #888888;
    padding: 10px 0;
    label {
      font-size: 16px;
      font-weight: 600;
      color: white;
    }
  }
}

.featuredCollection {
  .list {
    flex-wrap: wrap;
    @media screen and (max-width: 768px) {
      .item {
        max-width: 100%;
        margin: 0px;
        .image {
          width: 90vw;
          height: 90vw;
          max-height: 90vw;
          > div {
            width: 90vw;
            height: 90vw;
            img {
              height: 90vw;
            }
          }
        }
        .body {
          width: 90vw;
          max-width: 90vw;
        }
      }
    }
    .item {
      min-width: 250px;
    }
  }
  .viewMore {
    text-align: center;
    margin-top: 20px;
    button {
      width: 120px;
      height: 40px;
      font-size: 14px;
      font-weight: 500;
      color: white;
      border-radius: 40px;
      background-image: linear-gradient(136deg, #AE83FF 0%, #0019BD 100%);
      border: none;
    }
  }
}
