.wrapper {
  .dropdown {
    margin: 20px 0;
    > button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: transparent;
      border: 2px solid #777E90;
      border-radius: 4px;
      min-width: 120px;
      font-size: 14px;
    }
  }
  .table {
    margin: 20px 0 60px;
    border-radius: 16px;
    overflow: hidden;
    > div:nth-child(odd) {
      background-color: #19191C;
    }
    > div:nth-child(even) {
      background-color: #141416;
    }
    .header {
      color: white;
      font-weight: bold;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    .item {
      cursor: pointer;
    }
    .row {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      color: white;
      font-size: 14px;
      a, a:hover {
        text-decoration: underline;
        color: white;
        font-weight: bold;
      }
      > div:first-child {
        padding-left: 20px;
      }
      > div {
        padding: 20px 5px;
        display: flex;
        align-items: center;
        .statusWrap {
          padding: 5px 20px;
          border-radius: 8px;
          font-weight: 500;
          font-size: 14px;
          letter-spacing: 0;
          line-height: 24px;
          min-width: 100px;
          text-align: center;
          text-transform: capitalize;
        }
      }
      button {
        font-size: 14px;
        background: transparent;
        border: none;
        text-decoration: underline;
      }
    }
    .expand {
      background-color: black;
      border: 1px solid #19191C;
      label {
        font-size: 10px;
        color: #777E90;
        text-transform: uppercase;
      }
    }
  }
  .loading {
    margin: 20px 0;
  }
}

.actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  button {
    padding: 0px;
    width: fit-content!important;
    padding: 0px 10px!important;
  }
}

.mobileWrap {
  > div {
    &:first-child {
      padding: 0px 1rem;
    }
    &:last-child {
      background-color: #19191C;
      overflow: auto;
      border-radius: 0px;
      > div {
        width: max-content;
        > div {
          justify-content: center;
          width: 175px;
          >div {
            text-align: center;
          }
        }
      }
    }
  }
}