.noPadding {
  padding: 0;
}
.modalDark {
  background-color: #0d0d0d;
  color: #fcfcfd;
  button {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(10deg)
      brightness(104%) contrast(102%);
  }
}
