.container {
  border: none;
  background-color: unset;
  .popover-arrow {
    display: none;
  }
  .popover-body {
    // background-color: ${props => props.isError ? '#FF5858' : 'rgb(226, 190, 81)'};
    color: #ffecec;
    padding: 2px 15px;
    margin-top: -7px;
    border-radius: 25px;
  }
}
