.dialog {
  background-image: url("../../../views/apps/DialogGuideStart/img/bg_modal.png") !important;
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
  background-position: center !important;
}

.container {
  padding: 0px;
  border-radius: 20px;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 20px;
  padding: 0px 15px;
  position: relative;
  border-radius: 26px;
  background-image: linear-gradient(
    90deg,
    #0065ff,
    #6942ef,
    #6554c0,
    #008cff,
    #0065ff,
    #6942ef
  );
  background-size: 400%;
  background-position: 0% 0%;
  span {
    margin-left: 5px;
  }
  &:hover {
    animation: gradientRotate 2s infinite;
  }
}

@keyframes gradientRotate {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}