.inputWrapper {
  position: relative;
  margin-bottom: 20px;
  color: #2d2d2d;
  &.inputWrapperDark {
    color: white;
    input,
    textarea {
      background-color: #1A1A1A;
      color: white !important;
    }
    .labelWrapper {
      color: #dedfe5;
      padding: 0px 2px;
      background-color: #1A1A1A;
    }
  }
  .labelWrapper {
    position: absolute;
    top: -5px;
    left: 10px;
    font-size: 11px;
    line-height: 13px;
    color: rgb(88, 102, 126);
    padding: 0px 2px;
    background: white;
    white-space: nowrap;
    z-index: 1;
  }
}

.formControl {
  flex: 1;
  input,
  textarea {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 20px;
    &.inputDatePicker {
      border: 1px solid #dedfe5;
      border-radius: 10px;
    }
  }
}

.searchBox {
  position: relative;
  background-color: black;
  input {
    height: 32px;
    width: calc(100% - 20px);
    margin: 0px 10px;
    padding: 5px;
    line-height: 32px;
    font-size: 14px;
    outline: none;
    border-radius: 5px;
    &:focus,
    &:hover {
      border-width: 2px;
      border-color: #4878ff;
      outline: #4878ff;
    }
  }
  i {
    position: absolute;
    font-size: 12px;
    top: 50%;
    color: #6f6c6c;
    right: 10px;
    transform: translate(-60%, -50%);
  }
}

.borderDanger {
  border-color: #c22a32 !important;
  .flag-dropdown {
    border-color: #c22a32 !important;
  }
}

.errorMessageWrap {
  z-index: 1401;
  div {
    &:last-child {
      background-color: #c22a32;
      font-size: 12px;
    }
    &::before {
      border-bottom-color: #c22a32 !important;
    }
  }
}

:global .react-datepicker-popper {
  z-index: 999 !important;
  .react-datepicker {
    background: rgb(39, 38, 44);
    border-color: rgb(56, 50, 65);
    color: rgb(244, 238, 255);
    .react-datepicker__triangle {
      &::before,
      &::after {
        border-bottom-color: rgb(56, 50, 65) !important;
      }
    }
    .react-datepicker__header {
      background: rgb(55, 47, 71);
      border-color: rgb(56, 50, 65);
    }
    .react-datepicker__current-month,
    .react-datepicker-time__header,
    .react-datepicker-year-header,
    .react-datepicker__day-name,
    .react-datepicker__day,
    .react-datepicker__time-name {
      color: rgb(244, 238, 255);
      &:hover,
      &:focus,
      &:active {
        background-color: rgb(56, 50, 65);
      }
    }
    .react-datepicker-time__input {
      background: #413e4b;
      border-radius: 8px;
    }
    .react-datepicker__day--disabled {
      color: #aaa !important;
    }
  }
}
