.wrapper {
  position: relative;
  overflow: hidden;
  background-image: url('./img/bg_ellipse.png'), linear-gradient(180deg, #1F1F1F 0%, #131518 100%);
  background-repeat: no-repeat;
  background-position-x: -30%;
  background-position-y: 80%;
  > div {
    display: flex;
    padding-top: 100px;
    padding-bottom: 140px;
  }
  .left {
    color: white;
    padding-top: 80px;
    p {
      font-weight: 300;
      font-size: 20px;
      line-height: 31px;
      .nearLogo {
        display: inline-block;
        width: 80px;
        height: 50px;
        border-radius: 20px;
        margin-bottom: 5px;
      }
    }
    .createButton {
      width: 230px;
      height: 70px;
      font-size: 18px;
      font-weight: 500;
      color: white;
      border-radius: 40px;
      margin-top: 60px;
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 60px;
    .imageRow {
      display: flex;
      img {
        width: 280px;
        height: 280px;
        margin: 15px 0 0 15px;
        object-fit: cover;
        border-radius: 16px;
      }
      &:nth-child(2) {
        margin-left: 80px;
      }
    }
  }
}