.container {
  background-color: var(--bs-gray-800);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid var(--bs-gray-800);
  img {
    border-radius: 100%;
    max-width: 95%;
    max-height: 95%;
  }
}
