.container {
  background-color: var(--bs-gray-800);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 100%;
  }
}
