.container {
  flex: 1;
}

.dropdownWrapper {
  label {
    font-weight: bold;
    color: var(--bs-gray-500);
    text-transform: uppercase;
  }
  .dropdown {
    position: relative;
    min-width: 264px;
    font-weight: 500;
    font-size: 16px;
    margin-top: 10px;
    button {
      padding: 13px 1rem 1rem;
      border-radius: 0.5rem;
      width: 100%;
      background-color: transparent !important;
      color: var(--bs-body-bg) !important;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-image: none !important;
      box-shadow: none !important;
      border: 1px solid var(--bs-body-bg) !important;
      font-weight: bold;
      &:focus {
        background-image: none;
      }
    }
    .dropdownMenu {
      padding: 0.25rem 0;
      border-radius: 0.5rem;
      background-color: #141416;
      width: 100%;
      border: 1px solid var(--bs-body-bg) !important;
      a {
        padding: 10px 1rem;
        color: var(--bs-white);
        &:hover {
          background-color: #141414;
        }
      }
    }
  }
}

.sortByContainer {
  padding: 20px;

  h3 {
    letter-spacing: 0;
    color: var(--bs-white);
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.collectionDesc {
  color: var(--bs-gray-500);
}

.loadingWrapper {
  margin: 20px;
}

.wrapContent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 2.5rem 2rem;
  padding: 0px 20px 20px;
}

.itemMedia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: #0f0e0e;
  overflow: hidden;
  height: 313px;
  border-radius: 16px;
  video,
  img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    transition: all 0.5s ease;
  }
  &:hover {
    img {
      transform: scale(1.2);
    }
  }
}

.itemContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  cursor: pointer;
  a {
    width: 100%;
    max-width: 340px;
    height: 100%;
    max-height: 510px;
    display: inline-block;
    background-color: #0f0e0e;
    border-radius: 16px;
    overflow: hidden;
    .itemContent {
      padding: 24px 20px;
      display: flex;
      flex-direction: column;
      h5 {
        font-weight: 500;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-bottom: 0px;
        font-size: 16px;
        color: #fcfcfd;
        letter-spacing: 0;
        line-height: 24px;
      }
      .infoWrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        div {
          &:first-child {
            font-weight: 500;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 12px;
            color: #777e90;
            letter-spacing: 0;
            line-height: 20px;
          }
        }
      }
      .infoPrice {
        margin-top: 15px;
        font-size: 18px;
        font-weight: bold;
        color: var(--bs-green);
        border: 2px solid var(--bs-green);
        align-self: flex-start;
        padding: 5px 15px;
        border-radius: 8px;
      }
    }
    .actions {
      display: flex;
      width: 100%;
      margin-top: 10px;
      > button {
        flex: 1;
        font-size: 16px;
        font-weight: 600;
        height: 45px;
        line-height: 25px;
        border-radius: 4px;
      }
      > button:not(:first-child) {
        margin-left: 10px;
      }
      .btnCancel {
        background: transparent;
        border: 1px solid #e34d4d;
        color: #e34d4d;
        font-weight: normal;
      }
    }
  }
}

.wrapContentEmpty {
  grid-template-columns: 1fr;
}
