.listAssets {
  margin-top: 20px;
  margin-bottom: 20px;
  > div {
    > div {
      padding: 0px;
    }
  }
  &.loading {
    justify-content: center;
    padding: 40px 0;
  }
}

.noAssets {
  text-align: center;
  color: white;
  margin: 40px 0;
  .createButton {
    width: 200px;
    height: 50px;
    margin-top: 40px;
    background-color: #3772ff;
    color: #fcfcfd;
    font-weight: bold;
  }
}
.listAssetsMobile {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  > div {
    > div {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0.5rem;
      > div {
        width: calc(50vw - 1rem);
        > a {
          > div {
            &:first-child {
              height: calc(50vw - 1rem);
            }
            &:last-child {
              padding: 10px;
            }
          }
        }
      }
    }
  }
}